extends layout

block content
    ul.pages
        li(class="chat page")
            div#chatHistory
                ul#messages
            input#inputMessage(type='text', placeholder='Type here and press Enter')
