extends layout

block content
    h1= title

    #chathistory

    ul#pagination
        li.prev
            a(class='pagelink', href='#', title='Show Previous', data-linktype='prev') Previous
        li.next
            a(class='pagelink', href='#', title='Show Next', data-linktype='next') Next
    #addchat
            fieldset
                input#newChat(type='text', placeholder='Type here')
                br
                button#btnChatSubmit OK
