extends layout

block content
    h1= title

    #chathistory

    ul#pagination
        li.prev
            a(class='pagelink', href='#', title='Show Previous Page', data-linktype='prev')

    #addchat
            fieldset
                input#newChat(type='text', placeholder='Type here')
                br
                button#btnChatSubmit OK
