extends layout

block content
    h1= title

    #chathistory

    #addchat
            fieldset
                input#newChat(type='text', placeholder='Type here')
                br
                button#btnChatSubmit OK
