body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#chathistory {
  height:200px;
  overflow:auto;
}

#newchat {
  width:1000px;
}

ul#pagination li {
    display:inline-block;
    margin-right:20px;
}
